{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "chrome >= 50",
                    "safari >= 10",
                    "firefox >= 50",
                    "ie >= 10"
                ]
            },
            "debug": true,
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        ["@babel/plugin-transform-runtime", {
            "helpers": false,
            "corejs": 2,
            "regenerator": true
        }],
        "@babel/plugin-transform-async-to-generator"
    ]

}
